@import url(site-colors.css);

.TestBlockDelLater {
    background-color: var(--gsp-grey0);
    width: 100%;
    height: 1500px;
}

/*Content block*/

#content-block {
    width: 100%;
    height: 550px;
    background-color: var(--gsp-orange2);
    position: relative;
}

#content-block-text-left {
    position: absolute;
    max-width: 600px;
    max-height: 500px;
    word-wrap: break-word;
    top: 44%;
    left: 5vw;
    transform: translateY(-50%);
    font-size: 250%;
}

#content-block-image-left {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    background-position-x: 500px;
    mask-image: url('../static/media/content-block-mask.svg');
    mask-repeat: no-repeat;
    mask-size: 100% 550px;
    
    -webkit-mask-image: url('../static/media/content-block-mask.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 550px;
}

/* Map */

#map-block {
    background-color: var(--gsp-grey2);
    width: 100%;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
    align-items: center;
}

#map-render {

}

#station {
    position: relative;
    background-color: purple;
    width: 50px;
    height: 50px;
}

/* MINI Analytics */

#minianalytics-block {
    background-color: var(--gsp-orange2);
    width: 100%;
    height: 350px;
}

/* MINI API */

#miniapi-block {
    background-color: var(--gsp-grey0);
    width: 100%;
    height: 850px;
}

/* Unaffiliated */

#unaffiliated-notice {
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: var(--gsp-orange1);
    font-family: "Klavika Light";
    color: var(--gsp-grey1);
    font-size: 60%;
    word-wrap: break-word;
    text-align: center;
}

/*Mobile Support*/

@media only screen and (max-width: 1450px) {
    #content-block-image-left {
        display: none;   
    }

    #content-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #content-block-text-left {
        left: auto;
        padding: 10px;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    #content-block-text-left {
        font-size: 6.5vw;
    }
}