@import url(site-colors.css);

@font-face {
    font-family: "Klavika Bold";
    src: url(./font/klavika-bold.otf)
}

@font-face {
    font-family: "Klavika Medium";
    src: url(./font/klavika-medium.otf)
}

@font-face {
    font-family: "Klavika Light";
    src: url(./font/klavika-light.otf)
}

body {
  margin: 0;
  font-family: 'Klavika Medium';
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  scroll-behavior: smooth;
  background-color: var(--gsp-grey2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Navbar*/

#greater-navbar {
  top: 0;
  margin-top: 0;
  position: sticky;
  z-index: 5;
}

#navbar {
  position: relative;
  background-color: var(--gsp-grey2);
  height: 58px;
  padding: 8px;
  align-items: center;
  justify-content: space-evenly;
  -moz-box-shadow: 0 0 25px var(--gsp-orange2);
  -webkit-box-shadow: 0 0 25px var(--gsp-orange2);
  box-shadow: 0 0 25px var(--gsp-orange2);
  z-index: 1;
}

.navbar-item {
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

#navbar-logo {
  width: 365px;
  text-align: center;
  font-size: 13.5px;
  justify-content:left;
}

.navbar-logo-a {
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 7px;
}

#navbar-subway-logo {
  margin-top: 25px;
  height: 135%;
  background-color: var(--gsp-grey2);
  border-radius: 100%;
  border-width: 7px;
  border-color: var(--gsp-grey2);
  border-style: solid;
}

#navbar-items {
  width: 350px;
  font-size: 18px;
}

.logo-link {
  height: 50%;
  filter: invert(100%) sepia(4%) saturate(15%) hue-rotate(82deg) brightness(106%) contrast(104%);
  overflow: visible;
}

.navbar-link:hover {
  color: var(--gsp-orange1);
}

.logo-link:hover {
  filter: invert(58%) sepia(42%) saturate(5494%) hue-rotate(1deg) brightness(104%) contrast(92%);
  cursor: pointer;
}

#navbar-subway-logo:hover {
  height: 145%;
}

/* Dropdown dropdownURL */

#dropdownURL {
  position: relative;
  width: 100%;
  text-align: center;
  border-width:1px;
  box-sizing: border-box;
  border-style:solid;
  border-color: var(--gsp-grey0);
  background-color:var(--gsp-grey1);
}

#dropdownURL a {
  width: 100%;
  height: 100%;
}

#dropdownURL a:hover {
  background-color:var(--gsp-grey2);
}

/*Mobile support*/

.mobile-vis {
  display: none !important;
}


@media only screen and (max-width: 1000px) {
  .mobile-vis {
    display:flex !important;
  }

  .mobile-nonvis {
    display: none !important;
  }

  
  /* Custom */

  #navbar-items {
    justify-content:right;
  }
}

@media only screen and (max-width: 400px) {
  #navbar-logo h2 {
    display: none;
  }
}


/*Footer*/

footer {
  background-color: var(--gsp-grey4);
  height: 350px;
}

/* Resusables */

.flex {
  display:flex;
}

.hoverable {
  transition: 0.3s;
}

.hoverable:hover {
  cursor: pointer;
}

a {
   text-decoration: none; 
}

a:visited { 
 color: white;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.grey_highlight {
  color: var(--gsp-grey1);
}

.underline_highlight {
  text-decoration:underline;
}

/*Testing*/

.test-box {
  background-color: red;
  height: 100%;
  width: 100%;
}